
worker_processes 2;

events{
    worker_connections 1024;
}


http{

    include mime.types;

    server {
        listen 80;
        server_name 127.0.0.1;
        root /usr/share/nginx/html/sites/demo;




        # ?apikey=1234
#        if ( $arg_apikey != 1234 ){
#            return 401 "Incorrect api Key";
#        }


        location = /greet {
            return 200 'Hello fron NGINX "/greet" EXACT MATCH.';
        }

        #Preferential Prefix match
        location ^~ /CaseGreet2{
            return 200 'Hello fron NGINX "/greet" Preferences REGEX MATCH.';

        }

        #REGEX match - case sensitive
        location ~ /greet[0-9] {
            return 200 'Hello fron NGINX "/greet" REGEX MATCH.';
        }


        #REGEX match - case insensitive
        location ~* /casegreet[0-9] {
            return 200 'Hello fron NGINX "/greet" REGEX MATCH INSENSITIVE.';
        }


        location /inspect {
            return 200 "$host\n$uri\n$args";
        }

        location /inspect-name {
            return 200 "Name: $arg_name";
        }


        set $weekend 'No';

        # check if weekends
        if ( $date_local ~ 'Saturday|Sunday') {
            set $weekend 'Yes';
        }

        location /is_weekend {
            return 200 $weekend ;
        }

        #redirect
        location /redirect {
            return 307 /is_weekend;
        }

        # rewrite
        rewrite ^/user/\w+ /foo;

        location /foo {
            return 200 "Hello user";
        }

        # try files
        try_files $uri /cat/png /bar /friendly_404;

        location /bar {
            return 200 "hello try files";
        }

        location /friendly_404{
            return 404 "Sorry, that file could not be found";
        }
        #override log file
        location /override-secure {
            access_log /var/log/nginx/secure.access.log;
            #access_log off;
            return 200 "Welcome to override log area";
        }
    }



}